body{
    background-color: maroon;
}
#cf img {
    padding-left: 325px;
    padding-top: 35px;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-duration: 17s;
    animation-direction: alternate;
    position: absolute;
}
#cf img:nth-of-type(1) {
    animation-delay: 16s;
}

#cf img:nth-of-type(2) {
    animation-delay: 10s;
}

#cf img:nth-of-type(3) {
    animation-delay: 4s;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}   